################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RentalApplicationAndroid/bin/Debug
/RentalApplicationAndroid/obj
/.vs/RentalsApp/v16/.suo
