################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RentalApplicationAndroid/obj/Debug/90
/RentalApplicationAndroid/obj/Release/90
/RentalApp/RentalApp.Android/obj
/RentalApp/RentalApp.iOS/obj/iPhoneSimulator/Debug
/obj
